#ASSIGNMENT 2 - DATA TYPE AND STRUCTURES
##THEORY QUESTIONS--
###**Q1) What are data structures, and why are they important?**
####Ans: Data structure can be defined as a container in which we can organize,manipulate and perform operations on data. It helps to manage data easily and helps boost system effeciency and memory. Its important due to following reasons:
####1) It helps for management and organization of data
####2) Can help in system optimization and memory management
####3) We can access data diffrently based on diffrent data structures.
####4) Gives a variety of operations and searching techniques

###**Q2) Explain the difference between mutable and immutable data types with examples?**
#### Ans: **Mutable data types** can be defined as data structures which allows manipulation of data within a data structures after its creation. It allows data manipulation by using various functions such as **.appened(),.remove() etc**.Some examples can be a list or dictionary.Mutable collection data types are also called as Ordered collection data types.

####**Immutable data types** can be defined as data structures which does not allow manipulation of data within a data structures after its creation.It follows a strict and fixed structure without any change in data. Some examples can be a Sets or tuples.Immutable collection data types are also called as Unordered collection data types.

###**Q3)What are the main differences between lists and tuples in Python?**
####Ans:**List** is a mutable data structure in python.
####1)It allows data to be manipluated after its creation.
####2)It allow data modification.
####3)Its also called as Ordered collection of elements.

####**Tuple** is an immutable data structure in python.
####1)It does not allow data to be manipluated after its creation.
####2)No data modification is allowed.
####3)Its also called as Unordered collection of elements.

###**Q4) Describe how dictionaries store data?**
####Ans: **Dictionaries** stores data in form of key:value pairs in memory.Unlike normal lists where we can access elements or values by their indexes, we use keys to access values in memory. But we cannot access keys through values in a dictionary.

###**Q5)  Why might you use a set instead of a list in Python?**
####Ans: **Set** is a unique data structure in python which is unordered. It means since element will not have an order, there is no index concept. Set does not allow duplicate value and ignores any duplicate values. We can also append and remove elements from a set and can use actual value to access the elements in a set.

###**Q6) What is a string in Python, and how is it different from a list?**
####Ans: **String** is a data strcuture which is a sequence of characters in a unchangable order. Which means unlike list which is a mutable data structure, A string is a immutable data structure.

###**Q7) How do tuples ensure data integrity in Python?**
####Ans: **Tuples** ensure data integrity which refers to data security by being an immutable data structure. Since its immutable, it means that data cannot be modified after its creation.This ensure safety of important data and can be used to save important data of company which does not require any changement.

###**Q8) What is a hash table, and how does it relate to dictionaries in Python?**``Important``
####Ans: A **hash table** is a data structure that stores data as key-value pairs, using a hash function to quickly find the data. In Python, dictionaries (`dict`) are built using hash tables, making lookups, insertions, and deletions very fast. Keys in a dictionary must be unique and hashable (e.g., strings, numbers).

###**Q9) Can lists contain different data types in Python?**
####Ans: **List** allows to hold hetrogenous data types. Hetrogenous data types refer to more than one data type. List allows to add elements within it kinda of like a shopping bag of a mother when going to market.eg:-[(1,2,3),1.23,1,"Hi"] etc.

###**Q10)  Explain why strings are immutable in Python?**
####Ans: **Strings** are immutable in python to ensure that sequence of characters remain in an unchangeable order and make sense.It is done to maintain the meaning of strings data structure. It also ensures consistency and maintainance of hash value.

###**Q11) What advantages do dictionaries offer over lists for certain tasks?**
####Ans: **Dictionaries** are data types in python which stores key:value pairs in memory.Unlike list indexing is not required as we can access the values using thier keys.Unlike lists which have can have duplicates, a key in a dictionary is unique and also immutable.

###**Q12)  Describe a scenario where using a tuple would be preferable over a list?**
####Ans: **Tuple** can be used by its immutablity property. It can be used for a inserting company sales over a year.Since this data can't be changed and its factual,we can use tuple since no data modification can occur.

###**Q13) How do sets handle duplicate values in Python?**
####Ans: **Sets** are a data structure in python which does not allow duplicate values within it.If any duplicate value occurs,it will only consider the first occurence of the value and ignore the rest of it and not include it within the set.

###**Q14) How does the “in” keyword work differently for lists and dictionaries?**
####Ans: The *in* keyword in lists iterates to all the values present in a list to check if a statement is present or not.In case of dictionaries, the *in* keyword only traverse throught the keys and not the values.It only chekcs if the statement in present in keys or not.

###**Q15) Can you modify the elements of a tuple? Explain why or why not?**
####Ans: No, we cannot modify the elements in tuple.It is due to the immutability property of the tuple. It means no data modification can occur after the tuple creation.

###**Q16)  What is a nested dictionary, and give an example of its use case?**
####Ans: A nested dictionary can be defined as another dictionary which is defined within an existing dictionary.This property help for dictionary to be useful in various areas.Eg:-
####d={"student":{"name":"Omer","Age":"19"}}

###**Q17) Describe the time complexity of accessing elements in a dictionary?**
####Ans: The time complexity of **dictionaries** is O(1) as look up is quick through hash table or in worst case O(n) due to traverse of keys.

###**Q18) In what situations are lists preferred over dictionaries?**
####Ans: Dictionaries are very useful data type in python.But it has a drawback that keys are unique and immutable.Here is where lists take the lead has the can access elements by indexing and also is mutable, dictionaries are only mutable through values.

###**Q19)  Why are dictionaries considered unordered, and how does that affect data retrieval?**
####Ans: Dictionaries are considered unordered due to the keys. Keys should be unique and immutable. Data in dictionaries is retrived by the keys assigned to that value and not by indexing.We can access the data in two ways, one by using key like *dict[key]* or by using *.get()*.

###**Q20) Explain the difference between a list and a dictionary in terms of data retrieval?**
####Ans: List elemets can be accessed using index concept since list elemenst have indexes assigned to it in memory.
#### Dictionary elements can only be accessed by their keys which are unique and immutable.Unlike lists, these keys are assigned to the values in the memory block and can be only accessed by the keys.

#PRACTICAL QUESTIONS

In [1]:
#Q1)Write a code to create a string with your name and print it
s=str(input("Enter Your Name:"))
print(s,type(s))

Enter Your Name:Omer
Omer <class 'str'>

In [2]:
#Q2) Write a code to find the length of the string "Hello World"
len("Hello World")

11

In [4]:
#Q3) Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
a[0:3]

'Pyt'

In [5]:
#Q4) Write a code to convert the string "hello" to uppercase.
a="hello"
a.upper()

'HELLO'

In [6]:
#Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
a.replace("apple","orange")

'I like orange'

In [7]:
#Q6) Write a code to create a list with numbers 1 to 5 and print it
l=[]
for i in range(1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [9]:
#Q7) Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [11]:
#Q8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [12]:
#Q9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a','b','c','d']
l[1]

'b'

In [17]:
#Q10) Write a code to reverse the list [10, 20, 30, 40, 50]
l=[10,20,30,40,50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [18]:
#Q11)  Write a code to create a tuple with the elements 100, 200, 300 and print it
e=(100,200,300)
e

(100, 200, 300)

In [20]:
#Q12)  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
e=('red','green','blue','yellow')
e[-2]
e[2]

'blue'

In [21]:
#Q13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).
min(10,20,5,15)

5

In [26]:
#Q14)  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
e=('dog','cat','rabbit')
e.index('cat')

1

In [28]:
#Q15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
e=("apple","banana","kiwi")
if "kiwi" in e:
  print("True")
else:
  print("False")

True

In [29]:
#Q16) Write a code to create a set with the elements 'a', 'b', 'c' and print it
S={"a","b","c"}
print(S)

{'b', 'c', 'a'}

In [30]:
#Q17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
S={1,2,3,4,5}
S.clear()
print(S)

set()

In [31]:
#Q18) Write a code to remove the element 4 from the set {1, 2, 3, 4}
S={1,2,3,4}
S.remove(4)
print(S)

{1, 2, 3}

In [32]:
#Q19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
S1={1,2,3}
S2={3,4,5}
S1|S2# Union

{1, 2, 3, 4, 5}

In [33]:
#Q20)  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
S1={1,2,3}
S2={2,3,4}
S1&S2# Intersection

{2, 3}

In [34]:
#Q21)  Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={"name":"Omer","Age":21,"City":"Kanpur"}
print(d)

{'name': 'Omer', 'Age': 21, 'City': 'Kanpur'}

In [35]:
#Q22)  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d={'name': 'John', 'age': 25}
d["country"]="USA"#new value pair add
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#Q23)  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d={'name':'Alice','age':30}
d['name']

'Alice'

In [39]:
#Q24)  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [40]:
#Q25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={'name': 'Alice', 'city': 'Paris'}
"city" in d

True

In [44]:
#Q26) Write a code to create a list, a tuple, and a dictionary, and print them all
l=[1,2,3]
t=(1,2,3)
d={"name":"Omer","Age":21,"City":"Kanpur"}
print(l,t,d,sep="\n")

[1, 2, 3]
(1, 2, 3)
{'name': 'Omer', 'Age': 21, 'City': 'Kanpur'}

In [45]:
"""Q27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)"""
import random
l=[]
for i in range(5):
  l.append(random.randint(1,100))#randint returns a random(rand) integer(int)
l.sort()
print(l)

[1, 11, 33, 72, 98]

In [46]:
#Q28) Write a code to create a list with strings and print the element at the third index.
p=[]
for i in range(1,6):
  l=str(input("Enter a string:"))
  p.append(l)
print(p[2])

Enter a string:OMER
Enter a string:TAHA
Enter a string:AANYA
Enter a string:ME
Enter a string:YOU
AANYA

In [47]:
#Q29) Write a code to combine two dictionaries into one and print the result
d1={"name":"Omer","Age":21}
d2={"City":"Kanpur","Country":"India"}
d1.update(d2)
print(d1)

{'name': 'Omer', 'Age': 21, 'City': 'Kanpur', 'Country': 'India'}

In [48]:
#Q30) Write a code to convert a list of strings into a set.
set(p) #p is defined in Q28

{'AANYA', 'ME', 'OMER', 'TAHA', 'YOU'}